body{
    margin:0;
    background-color: rgb(18, 5, 63);
    color: white;
}

#homeButton{
    float:left;
    size:500px
}



#curriculo-top{
    background-color: rgb(168, 115, 253);
    text-align: center;
    color: white;

}

.curriculo, .container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minxmax(200px, 1fr));
    gap:20px;
}


#curriculo-mid{
    margin:20px
}

#curriculo-mid h3{
    color: rgb(168, 115, 253);
}

#choices{
    text-align: center;
}

.left{
    float:left;
    width: 40%;
    margin-left: 20px;
    
}


.right{
    float:right;
    width: 40%;
    margin-left:50px;
}


#basico, #intermediario, #avancado{
    display:none
}



#basicoString:hover, #intermedString:hover, #avancString:hover{
    cursor:pointer;
    color: rgb(168, 115, 253);
}


.navigation li{
    display:inline;
}

.navigation li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    float:left;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(168, 115, 253);
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: rgb(168, 115, 253);
}

.containerImg{
    margin:50px;
}

.textContainer{
    text-align: center;
    text-justify: inherit;
}


.leftImg{
    width: 20%;
    height: 20%;
    float:left;
    object-fit: contain;
    border: 5px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 2px 5px 10px black;
}

.rightImg{
    width: 30%;
    height: 50%;
    float:right;
    object-fit: contain;
    border: 5px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px black;
    margin: 20px;
}

@media all and (max-width: 480px) {
    img, .leftImg, .rightImg {
      width: 100%;
      margin:0;
    }
  }