body{
    margin:0;
    background-color: rgb(18, 5, 63);
    color: white;
}

#homeButton{
    text-align: center;
    size:500px
}



#curriculo-top{
    background-color: rgb(168, 115, 253);
    color: white;

}

.curriculo{
    display:grid;
    grid-template-columns: repeat(auto-fit, minxmax(200px, 1fr));
    gap:20px;
}


#curriculo-mid{
    margin:20px
}

#curriculo-mid h3{
    color: rgb(168, 115, 253);
}

#choices{
    text-align: center;
}

.left{
    float:left;
    width: 40%;
    margin-left: 20px;
    
}


.right{
    float:right;
    width: 40%;
    margin-left:50px;
}


